{% extends 'artworksnzapp/base.html' %}
{% load static %}
{% block content %}
<main>
	<h1>About us</h1>
	<figure>
		<img src="{% static 'images/artgallery.jpg' %}" alt="artgallery image">
		<figcaption>Gallery exterior</figcaption>
	</figure>
	
	<p>The Christchurch Art Gallery Te Puna o Waiwhetū, commonly known as the Christchurch Art Gallery, is the public art gallery of the city of Christchurch, New Zealand. It has its own substantial art collection and also presents a programme of New Zealand and international exhibitions. It is funded by Christchurch City Council. The gallery opened on 10 May 2003, replacing the city's previous public art gallery, the Robert McDougall Art Gallery, which had opened in 1932.</p>
	<br />
	<p>The Māori elements of the name are explained as follows: Te Puna honours waipuna, the artesian spring beneath the gallery and Waiwhetu refers to one of the tributaries in the immediate vicinity, which flows into the River Avon. Waiwhetu may also be translated as ‘water in which stars are reflected’.</p>
</main>
{% endblock content %}